persistence:
  defaultClass: true
  defaultFsType: ext4
defaultSettings:
  createDefaultDiskLabeledNodes: true
  defaultDataPath: /var/lib/longhorn/
  defaultReplicaCount: 3
resources:
  limits:
    cpu: "2000m"
    memory: "2Gi"
  requests:
    cpu: "500m"
    memory: "512Mi"
guaranteedEngineManagerCPU: 25
guaranteedReplicaManagerCPU: 25
