apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  sources:
    - chart: traefik
      repoURL: https://traefik.github.io/charts
      targetRevision: 25.0.0
      helm:
        values: |
          deployment:
            replicas: 2
          ingressRoute:
            dashboard:
              enabled: true
          persistence:
            enabled: true
            storageClass: longhorn
            size: 128Mi
          providers:
            kubernetesCRD:
              enabled: true
            kubernetesIngress:
              enabled: true
          ports:
            web:
              redirectTo: websecure
            websecure:
              tls:
                enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
