apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: v25.0.0
    helm:
      values: |
        deployment:
          enabled: true
          replicas: 3
        service:
          type: LoadBalancer
          # Remove nodePort settings since we're using LoadBalancer
          annotations:
            metallb.universe.tf/allow-shared-ip: traefik
        ports:
          web:
            port: 80
          websecure:
            port: 443
        ingressRoute:
          dashboard:
            enabled: true
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                    - traefik
                topologyKey: kubernetes.io/hostname
        tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik-system
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    #automated:
    #  prune: true
    #  selfHeal: true
